body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.components {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* justify-content: space-around; */
  /* justify-content: center; */
  background-color: #282c34;
  /* border-top: 2px solid #61dbfb; */
  border-radius: 2px;
}

h1 {
  color: #282c34;
}

.vert-line {
  height: 340px;
  border-left: 2px solid #61dbfb;
}

.form {
  margin: 5px 5px;
  width: 250px;
}

ul {
  list-style-type: none;
  font-size: 1.4rem;
  font-style: italic;
  float: left;
}

ul input {
  margin-right: 20px;
}

ul button {
  float: right;
  margin-left: 20px;
}

li {
  display: flex;
  margin-bottom: 10px;
  color: #fff;
}
